{% extends "base.html" %}  
{% load staticfiles %}  
{% block title %}Recommend Resource{% endblock %}  
  
{% block content %}  
  
<div class="container">  
    <div class="row">       
            <div class="col-md-9 col-md-offset-1"> 
                <table class="table table-hover"  id="questions_table">  
                    <thead>
                            <th>Product ID</th> 
                            <th>Product Description</th>
                            <th>Product Overall Rate</th>   
                    </thead>  

                    <tbody>  
                        {% for p in products %} 
                        <tr> 
                            <td>  {{ p.pid }} </td>
                            <td> <a href="/amazon_web/review/?id={{p.pid}}">{{ p.description }} </td>
                            <td>  {{ p.rate }} </td>
                        </tr> 

                        {% endfor %}  
                    </tbody>
                </table>  
            </div>
    </div>  
</div>



{% endblock %}  